django                     >3.2,<3.3
asgiref                    
bleach                     
captcha                    
django-debug-toolbar       
django-extensions          
django-multi-captcha-admin 
django-ranged-response     
django-robots              
django-simple-captcha      
django-summernote          
django-taggit             
lxml                    
Pillow                     
pip                     
pytz                       
robots                   
six                       
sqlparse                   
webencodings               
