{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- start banner Area -->
<section class="banner-area relative">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row fullscreen align-items-center justify-content-between">
			<div class="col-lg-6 col-md-6 banner-left">
				<h6 class="text-white"></h6>
				<h1 class="text-white" style="margin-left: 145%;font-family: IRANSansX;">هنرستان</h1>
				<h1 class="text-white" style="margin-left: 105%;font-family: IRANSansX;font-weight:500;">فیاضی</h1>
				<p class="text-white" style="font-family: IRANSansX;margin-top: 10%;">
					شما میتوانید در بخش ارتباط با ما با هنرستان فیاضی ارتباط برقرار و درخواست خود را بیان کنید
				</p>

			</div>

		</div>
	</div>
</section>
<!-- End banner Area -->

<!-- Start popular-destination Area -->
<section class="popular-destination-area section-gap">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-70 col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10" style="font-family: IRANSansX;">مکان های دیدنی</h1>
					<h6 style="font-family: IRANSansX;">بهترین قسمت های هنرستان </h6>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<div class="single-destination relative">
					<div class="thumb relative">
						<div class="overlay overlay-bg"></div>
						<img class="img-fluid" src="{% static 'img/roadi.jpg' %}" alt="">
					</div>
					<div class="desc" style="font-family: IRANSansX;">
						<p class="price-btn">زیبایی</p>
						<h4 style="font-family: IRANSansX;">جاده</h4>
						<p>محیط هنرستان</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-destination relative">
					<div class="thumb relative">
						<div class="overlay overlay-bg"></div>
						<img class="img-fluid" src="{% static 'img/tree.jpg' %}" alt="">
					</div>
					<div class="desc" style="font-family: IRANSansX;">
						<p class="price-btn">شگفت انگیز</p>
						<h4 style="font-family: IRANSansX;">درختان</h4>
						<p>محیط هنرستان</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-destination relative">
					<div class="thumb relative">
						<div class="overlay overlay-bg"></div>
						<img class="img-fluid" src="{% static 'img/school.jpg' %}" alt="">
					</div>
					<div class="desc" style="font-family: IRANSansX;">
						<p class="price-btn">هنر</p>
						<h4 style="font-family: IRANSansX;">ساختمان ورودی</h4>
						<p>محیط هنرستان</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End popular-destination Area -->


<!-- Start other-issue Area -->
<section class="other-issue-area section-gap">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-70 col-lg-9">
				<div class="title text-center" style="font-family: IRANSansX;">
					<h1 class="mb-10" style="font-family: IRANSansX;">معرفی رشته های هنرستان</h1>
					<p>: در هنرستان رشته های مختلفی تدریس میشود از جمله</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="single-other-issue">
					<div class="thumb">
						<img class="img-fluid" src="{% static 'img/computer.jpg' %}" alt="">
					</div>
					<p>
						<h4 style="font-family: IRANSansX; text-align:right;padding-right: 15px;">شبکه و نرم افزار</h4>
					</p>
					<p style="font-family: IRANSansX; text-align:center;">
						رشته شبکه و نرم‌افزار در مورد مباحث مربوط به هوش مصنوعی و شبکه و برنامه نویسی تدریس میشود
					</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="single-other-issue">
					<div class="thumb">
						<img class="img-fluid" src="{% static 'img/accounting.jpg' %}" alt="">
					</div>
					<p>
						<h4 style="font-family: IRANSansX; text-align:right;padding-right: 15px;">حسابداری</h4>
					</p>
					<p style="font-family: IRANSansX; text-align:center;">
						رشته حسابداری در مورد مباحث مربوط به ریاضیات و حسابداری و حسابرسی تدریس میشود
					</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="single-other-issue">
					<div class="thumb">
						<img class="img-fluid" src="{% static 'img/building.jpg' %}" alt="">
					</div>
					<p>
						<h4 style="font-family: IRANSansX; text-align: right;padding-right: 15px;">ساختمان</h4>
					</p>
					<p style="font-family: IRANSansX; text-align:center;">
						رشته ساختمان در مورد مباحث مربوط به انواع گرایش ها از جمله عمران تدریس میشود
					</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="single-other-issue">
					<div class="thumb">
						<img class="img-fluid" src="{% static 'img/circuit.jpg' %}" alt="">
					</div>
					<p>
						<h4 style="font-family: IRANSansX; text-align: right; padding-right: 15px;">الکترونیک</h4>
					</p>
					<p style="font-family: IRANSansX; text-align:center;">
						رشته الکترونیک در مورد مباحث مربوط به مدارها و میکروالکتریک و ... تدریس میشود
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End other-issue Area -->





<!-- Start home-about Area -->
<section class="home-about-area">
	<div class="container-fluid">
		<div class="row align-items-center justify-content-end">
			<div class="col-lg-6 col-md-12 home-about-left" style="font-family: IRANSansX;">
				<h1 style="text-align: center;font-family: IRANSansX;">
					سخنی با هنرجویان
				</h1><br>
				<h4 style="text-align: center;font-family: IRANSansX;">به نام خدا</h4>
				<p style="text-align: center;">
					بسیار خوشحالیم که دانش آموزان ممتاز و نمونه داریم. امیدواریم در طول سه سال تحصیلشان برایشان موثر بوده باشد
				</p>
				<div href="" class="primary-btn text-uppercase" style="font-family: IRANSansX;">مدیریت مجموعه هنرستان شهید فیاضی (آقای دیوسالار)</div>
			</div>
			<div class="col-lg-6 col-md-12 home-about-right no-padding" style="padding-right: 7%;">
				<img class="img-fluid" src="{% static 'img/daryaei.jpg' %}" alt="">
			</div>
		</div>
	</div>
</section>
<!-- End home-about Area -->


<!-- Start blog Area -->
<section class="recent-blog-area section-gap" style="font-family: IRANSansX;">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-60 col-lg-9">
				<div class="title text-center">
					<h1 class="mb-10" style="font-family: IRANSansX;">آخرین وبلاگ ها</h1>
				</div>
			</div>
		</div>
	
		{% include 'website/latest-post.html' %}
	</div>
</section>
<!-- End recent-blog Area -->

{% endblock %}