{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}
{% block content %}

<!-- start banner Area -->
<!-- start banner Area -->
<section class="relative about-banner">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white" style="font-family: IRANSansX;">
					وبلاگ
				</h1>
				<p class="text-white link-nav" style="font-family: IRANSansX;"><a href="{% url 'website:index' %}">صفحه اصلی </a> <span class="lnr lnr-arrow-right"></span>
					<a href="{% url 'blog:index' %}" style="font-family: IRANSansX;">وبلاگ</a>
				</p>
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->

<!-- Start top-category-widget Area -->
<section class="top-category-widget-area pt-90 pb-90 ">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="single-cat-widget">
					<div class="content relative">
						<div class="overlay overlay-bg"></div>
						<a href="#" target="_blank">
							<div class="thumb">
								<img class="content-image img-fluid d-block mx-auto" src="{% static 'img/blog/museum.jpg' %}"
									alt="">
							</div>
							<div class="content-details">
								<h4 class="content-title mx-auto text-uppercase" style="font-family: IRANSansX;">موزه و افتخارات</h4>
								<span></span>
								<p style="font-family: IRANSansX;">نمایش موزه و افتخارات هنرستان</p>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-cat-widget">
					<div class="content relative">
						<div class="overlay overlay-bg"></div>
						<a href="#" target="_blank">
							<div class="thumb">
								<img class="content-image img-fluid d-block mx-auto" src="{% static 'img/blog/article.jpg' %}"
									alt="">
							</div>
							<div class="content-details">
								<h4 class="content-title mx-auto text-uppercase" style="font-family: IRANSansX;">سر در ، ورودی</h4>
								<span></span>
								<p style="font-family: IRANSansX;">سر در ، ورودی هنرستان</p>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-cat-widget">
					<div class="content relative">
						<div class="overlay overlay-bg"></div>
						<a href="#" target="_blank">
							<div class="thumb">
								<img class="content-image img-fluid d-block mx-auto" src="{% static 'img/blog/yard.jpg' %}"
									alt="">
							</div>
							<div class="content-details">
								<h4 class="content-title mx-auto text-uppercase" style="font-family: IRANSansX;">حیاط و پارکینگ</h4>
								<span></span>
								<p style="font-family: IRANSansX;">فضای حیاط و پارکینگ وسیع هنرستان</p>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End top-category-widget Area -->

<!-- Start post-content Area -->
<section class="post-content-area" style="font-family: IRANSansX;">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 posts-list">
				{% for post in posts %}
				<div class="single-post row">
					<div class="col-lg-3  col-md-3 meta-details">
						<ul class="tags">
							{% for cat in post.category.all %}
							<li><a href="{% url 'blog:category' cat_name=cat.name %}">{{ cat.name }}</a></li>{% if not forloop.last %},{% endif %}
							{% endfor %}
							
							
						</ul>
						<div class="user-details row">
							<p class="user-name col-lg-12 col-md-12 col-6"><a href="{% url 'blog:author' author_username=post.author.username %}">{{post.author.get_full_name}}</a> <span
									class="lnr lnr-user"></span></p>
							<p class="date col-lg-12 col-md-12 col-6"><a href="#">{{post.published_date|date:"d M Y"}}</a> <span
									class="lnr lnr-calendar-full"></span></p>
							<p class="view col-lg-12 col-md-12 col-6"><a href="#">بازدید {{post.counted_views}}</a> <span
									class="lnr lnr-eye"></span></p>
							<p class="comments col-lg-12 col-md-12 col-6"><a href="#">{% comments_count post.id %} کامنت</a> <span
									class="lnr lnr-bubble"></span></p>
						</div>
					</div>
					<div class="col-lg-9 col-md-9 ">
						<div class="feature-img">
							<img class="img-fluid" src="{{post.image.url}}" alt="">
						</div>
						<a class="posts-title" href="{% url 'blog:single' pid=post.id %}">
							<h3 style="font-family: IRANSansX;text-align: right;">{{post.title}}</h3>
						</a>
						<p class="excert" style="font-family: IRANSansX;text-align: right;">
							{{post.content|truncatewords:2}}
						</p>
						<a href="{% url 'blog:single' pid=post.id %}" class="primary-btn" style="text-align: center;">... بیشتر</a>
					</div>
				</div>
				{% endfor %}
				<nav class="blog-pagination justify-content-center d-flex">
					
					<ul class="pagination">
						{% if posts.has_previous %}
						<li class="page-item">
							<a href="?page={{ posts.previous_page_number }}" class="page-link" aria-label="Previous">
								<span aria-hidden="true">
									<span class="lnr lnr-chevron-left"></span>
								</span>
							</a>
						</li>
						{% endif %}
						{% for i in posts.paginator.page_range %}
						{% if posts.number == i %}
							<li class="page-item"><a href="?page={{i}}" class="page-link">{{i}}</a></li>
							{% else %}
							<li class="page-item"><a href="?page={{i}}" class="page-link">{{i}}</a></li>
						{% endif %}
						{% endfor %}

						{% if posts.has_next %}
						<li class="page-item">
							<a href="?page={{ posts.next_page_number }}" class="page-link" aria-label="Next">
								<span aria-hidden="true">
									<span class="lnr lnr-chevron-right"></span>
								</span>
							</a>
						</li>
						{% endif %}
					</ul>
				
				</nav>
			</div>
			<div class="col-lg-4 sidebar-widgets">
				<div class="widget-wrap">
					{% include 'blog/blog-search.html' %}
					
					{% include 'blog/blog-writer.html' %}

					{% postcategories %}

				</div>
			</div>
		</div>
	</div>
</section>
<!-- End post-content Area -->


<script src="js/vendor/jquery-2.2.4.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/easing.min.js"></script>
<script src="js/hoverIntent.js"></script>
<script src="js/superfish.min.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/mail-script.js"></script>
<script src="js/main.js"></script>
</body>

</html>
{% endblock %}