{% load static %}

<div class="single-sidebar-widget user-info-widget">
    <img src="{% static 'img/login-images.png' %}" alt="">
    <a href="#">
        <h4 style="font-family: IRANSansX;">رضا رضوانی</h4>
    </a>
    <p>
        جونیور بک اند دولوپر
    </p>
    <ul class="social-links">
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-telegram"></i></a></li>
        <li><a href="#"><i class="fa fa-github"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
    </ul>
    <p>
        سلام به همه. من رضا رضوانی برنامه نویس وبسایت و هم چنین از هنرجویان هنرستان هستم. امیدوارم برایتان مفید بوده باشد. وقت بخیر
    </p>
</div>